IPv6 Address Normalization

JGDMS supports IPv6 natively, however an issue that has come up recently in LookupLocator and URI is normalization of IPv6 addresses.   It is important for equality that two IPv6 addresses, if they are identical can be reduced to an identical representation.

For example the following four IPv6 addresses are equal and are all legal forms:

06ab:23ae:0000:0000:0000:0000:078a:192f
6ab:23ae::78a:192f
6ab:23ae:0:0:0:0:78a:192f
6AB:23AE::78A:192F

RFC 5952 A Recommendation for IPv6 Address Text Representation.

If all IPv6 addresses in this case were normalized following RFC 5952 recommendations, then for example the above addresses would normalize to:

6ab:23ae::78a:192f

This would allow LookupLocators or URI with identical IPv6 addresses in different forms to be normalized to the same form and as such be recognized as being equal.

Also I have found that local IPv6 addresses also often contain a zone component which represents a specific local network interface, while this has limited use, not recognizing it causes problems with unexpected URISyntaxExceptions and MalformedURLExceptions.   It seems that we should at least allow it, seeing that it is legal.

JGDMS already provides an RFC3986 compliant URI implementation, and RFC3986 provides normalization rules, however it does not provide guidance on IPv6 address normalization.

It is proposed therefore to include the following additional standards in addition to RFC3986:
RFC 5952 A Recommendation for IPv6 Address Text Representation.
RFC 6874 Representing IPv6 Zone Identifiers in Address Literals and Uniform Resource Identifiers